// Grid com imagens
.divider.imagens-gym#wrapperImagens
	.divider-header.d-flex.justify-content-between
		h3 Imagens
		= render './ui/components/icon', color: "3498DB", size: 40, style: "ios", name: "plus-math", id:"show-image-upload-form"
	.divider-content
  		.mt-3
	  		- @gym_imagens.each do |month_created, img|
				h4.month-image-added.mb-3= "#{month_created}"
	  			.row
	  				- img.each do |img|
	  					.col-3
	  						.show-photo onclick='loadPhoto("img_#{img.id}")'
	  							= image_tag(img, class: "img", id: "img_#{img.id}")

// Show Foto .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  ..
.photo-view-box
	img#photo-view style="border-radius: 10px !important"
	.actions.d-flex.justify-content-center style="background: rgba(255,255,255,0.6); width: 20%; border-radius: 15px; margin-top: 1%; height: 40px"
		p#photo-id.hidden
		p.text-danger#delete-photo style="line-height: 40px; margin-right: 5%;" Apagar
		p.text-primary#close-photo-view style="line-height: 40px; margin-left: 5%;" Fechar
// Box para Upload .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  . 
.form-upload-imagens
	.form-wrapper.blurredBg.whiteBg8
		form id="the-form" action="#{root_url}/api/v1/gyms/upload" method="POST" enctype="multipart/form-data"
			label#hardReset for="upload-field"
				div style="height: 300px;"
					h4.filename Selecione as Fotos
					= render './ui/components/icon', color: "AAAAAA", size: 100, style: "ios-filled", name: "albums", id:"fotos-icon"
					= render './ui/components/icon', color: "2ECC71", size: 100, style: "ios", name: "checked", id:"foto-uploaded"
					input id="upload-field" name="file" type="file" multiple="false" style="display:none"
			= render './ui/components/button', id:"submit", style: "default", value: "Salvar", type: "submit"
			center
				= render './ui/components/loader', id:"loader-upload", size: "small"
			= render './ui/components/button', id:"close", style: "red", value: "Cancelar", type: "button"

javascript:
	$(document).ready(function(){
		// Form inicia escondido
		$(".form-upload-imagens").hide();
		$("#foto-uploaded").hide();
		$("#loader-upload").hide();
		$(".photo-view-box").hide()

		$(function() {
		   	$("input:file").change(function (){
		    	var fileName = $(this).val();
		    	$("#fotos-icon").hide();
		     	$(".filename").html(fileName.split("/").slice(-1)[0]);
		     	$("#foto-uploaded").show();
		   	});
		});
		// Toggle Show and Hide
		$("#show-image-upload-form").click(function(){
			$(".form-upload-imagens").show();
			$(".form-wrapper").addClass("animate, bounceIn")
			setTimeout(function(){
				$(".form-wrapper").removeClass("animate, bounceIn");
			}, 750)
		})
		// .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .
		$("#close").click(function(){
			$(".form-wrapper").addClass("animate, bounceOut")
			setTimeout(function(){
				$(".form-upload-imagens").hide();
				$(".form-wrapper").removeClass("animate, bounceOut");
			}, 750)
		})
		$("#delete-photo").click(function(){
			let request = new Request();
			let url = apiBaseUrl+"/gyms/delete_upload/"+$("#photo-id").text()
			let successCalback = data => {
				console.log(data)
			}
			let errorCalback = (xml, textStatus, message) => {
				console.log(textStatus)
			}		
			request.delete(url,successCalback,errorCalback)
		})

	})

	function loadPhoto(img){
		$(".photo-view-box").show()
		$("#photo-view").attr("src", $("#"+img).attr("src"))
		$("#photo-id").text(img.split("_")[1])
	}
	$("#photo-view").click(function(){
		$(".photo-view-box").hide()
	})
	$("#close-photo-view").click(function(){
		$(".photo-view-box").hide()	
	})


