/Organic UI element - Lip Sound - Quick, quiet flick.
// .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .
// Grid com imagens
.divider.imagens-gym#wrapperImagens
	.divider-header.d-flex.justify-content-between
		h3 Imagens
		= render './ui/icons/plus', size: 40, color: "3498DB", id:"show-image-upload-form", pointer:"true"
	.divider-content
  		.mt-3
	  		- @gym_imagens.each do |month_created, img|
				h4.month-image-added.mb-3= "#{month_created}"
	  			.row
	  				- img.each do |img|
	  					.col-3
	  						= image_tag(img, class: "img", id: "img_#{img.id}")
// .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .
// Box para Upload
.form-upload-imagens
	.form-wrapper.blurredBg.whiteBg8
		form id="the-form" action="#{root_url}/api/v1/gyms/upload" method="POST" enctype="multipart/form-data"
			label#hardReset for="upload-field"
				div style="height: 300px;"
					h4.filename Selecione as Fotos
					= render './ui/components/icon', color: "AAAAAA", size: 100, style: "ios-filled", name: "albums", id:"fotos-icon"
					= render './ui/components/icon', color: "2ECC71", size: 100, style: "ios", name: "checked", id:"foto-uploaded"
					input id="upload-field" name="file" type="file" multiple="false" style="display:none"
			= render './ui/components/button', id:"submit", style: "default", value: "Salvar", type: "submit"
			= render './ui/components/button', id:"close", style: "red", value: "Cancelar", type: "button"

javascript:
	$(document).ready(function(){
		// Form inicia escondido
		$(".form-upload-imagens").hide();
		$("#foto-uploaded").hide();
		$(function() {
		   	$("input:file").change(function (){
		    	var fileName = $(this).val();
		    	$("#fotos-icon").hide();
		     	$(".filename").html(fileName.split("/").slice(-1)[0]);
		     	$("#foto-uploaded").show();
		   	});
		});
		// Toggle Show and Hide
		$("#show-image-upload-form").click(function(){
			$(".form-upload-imagens").show();
			$(".form-wrapper").addClass("animate, bounceIn")
			setTimeout(function(){
				$(".form-wrapper").removeClass("animate, bounceIn");
			}, 750)
		})
		// .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .
		$("#close").click(function(){
			$(".form-wrapper").addClass("animate, bounceOut")
			setTimeout(function(){
				$(".form-upload-imagens").hide();
				$(".form-wrapper").removeClass("animate, bounceOut");
			}, 750)
		})
		// .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .
		$("#submit").click(function() {
			// Request upload
			var form = document.getElementById('the-form');
			var formData = new FormData(form);
			formData.append('file', this.file);
			let request = new Request()
			let successCallback = data => {
				console.log(data)
			}
			let errorCallback = (x,y,z) => {
				console.log(x)
				console.log("2- " + y)
				console.log("3- " + z)
			}
			let url = form.getAttribute('action')
			let data = formData;
			request.post(data, url, successCallback , errorCallback, '')
		})
	})

css:
	.img{
		max-width: 300px;
		max-height: 500px;
		width: 70%;
		height: auto;
		border-radius: 20px;
		box-shadow: 1px 2px 10px 1px #ccc;
		margin-bottom: 8%;
	}
	.month-image-added{
		color: #555;
	}
	.form-upload-imagens{
		position: fixed;
		top: 0;
		right: 0;
		width: 80%;
		height: 100%;
		z-index: 999999;
		background: rgba(0,0,0,0.3);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
		-o-backdrop-filter: blur(5px);
		-moz-backdrop-filter: blur(5px);
		-ms-backdrop-filter: blur(5px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.form-wrapper{
		width: 30%;
		border-radius: 20px;
		height: 400px;
		/*background: white;*/
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		overflow: hidden;
	}
	.form-wrapper div{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#uploader{
		
	}
	#upload-submit{
		border-radius: 10px;
		width: 100% !important;
	}
	#close-file-uploader{

	}
	.form-wrapper h4{ color: #AAAAAA; }

/.form-upload-imagens
	.form-wrapper
		/div.w-100
			form id="the-form" action="#{root_url}/api/v1/upload" method="POST" enctype="multipart/form-data"
				label for='uploader' Upload
				input#uploader name="file" type="file" multiple="true" style="display:none"
				.button-wrapper.mt-5
					button.btn.btn-primary#upload-submit type="submit" Enviar
					/input#upload-submit type="submit" value="Enviar"	