= render './ui/components/sidebar', dados: @sidebar_items

.content
	.divider.dados-gym#wrapper-dados
		.divider-header.d-flex.justify-content-between
			h3 Dados da Gym
		.divider-content
			form
				input type="text" placeholder="Nome da Gym" id="gym-nome" value="#{@gym.nome}"
				br
				/h5= "Nome: #{@gym.nome}"
				input type="text" placeholder="Razão Social" id="razao-social" value="#{@gym.razao_social}"
				/h5= "Razão Social: #{@gym.razao_social}"
				br
				input type="text" placeholder="CNPJ" id="cnpj" value="#{@gym.cnpj}"
				/h5= "CNPJ: #{@gym.cnpj}"
	
	.divider#wrapper-endereco
		.divider-header
			h3 Endereço
		.divider-content
			form
				input type="text" placeholder="Cidade" id="cidade"
				br
				input type="text" placeholder="Estado" id="estado"
				br
				input type="text" placeholder="CEP" id="cep"
				br
				input type="text" placeholder="Numero" id="numero"
				br			
				input type="text" placeholder="Latitude" id="lat"
				br
				input type="text" placeholder="Longitude" id="lng"
	.divider#wrapper-imagens
		H Teste
css:
	.divider{
		background: #fff;
		width: 40%;
		padding: 1 2%;
		border-radius: 20px;
	}
	.divider-header{
		padding: 3%;
	}
	.divider-content{
		padding: 0 3%;	
	}
	.divider-content h5{
		margin-bottom: 5%;
	}
	.divider input[type="text"]{
		background: #f2f2f2;
		padding: 2% 4%;
		border: none;
		border-radius: 10px;
		margin-bottom: 3%;
		width: 100%;
	}
	.divider input[type="submit"]{
		color: white;
		padding: 2% 4%;
		border: none;
		border-radius: 10px;
		margin-bottom: 3%;
		width: 100%;
	}
	.content{
		width: 76%;
		position: absolute;
		height: 100%;
		left: 22%;
		right: 2%;
		z-index: 9;
		/*background: #555;*/
		margin-top: 10px;
		padding: 0;
	}
	.dados-gym{
		height: 500px;
	}
	.dados-gym input{
		border: none;
		background: transparent !important;
	}
	.dados-gym-input-selected{
		border-bottom: 1px solid #ccc !important;
	}
javascript:
    $(document).ready(function(){
		$("#wrapper-endereco").hide();
		$("#wrapper-imagens").hide();
		
		$("#dados-toggler").click(function() {
			$("#wrapper-dados").show(500);
			$("#wrapper-endereco").hide(500);
			$("#wrapper-imagens").hide(500);
		})
		$("#endereco-toggler").click(function() {
			$("#wrapper-endereco").show(500);
			$("#wrapper-dados").hide(500);
			$("#wrapper-imagens").hide(500);
		})
		$("#imagens-toggler").click(function() {
			$("#wrapper-imagens").show(500);
			$("#wrapper-endereco").hide(500);
			$("#wrapper-dados").hide(500);
		})
		$(".dados-gym input").click(function(){
			$(".dados-gym input").addClass("dados-gym-input-selected")
		})

		$("#gym-nome").change(function() {
			data = { gym: {"nome": $("#gym-nome").val()} }
			url = "http://localhost:3000/api/v1/gyms/#{current_user.gym.id}"
			successCallback = function(data){ alert(data) }
			errorCallback = function(jqXHR, textStatus, msg){alert(msg)}
			putRequest(data, url, successCallback , errorCallback)
		})
		$("#razao-social").change(function() {
			data = { gym: {"razao-social": $("#razao-social").val()} }
			url = "http://localhost:3000/api/v1/gyms/#{current_user.gym.id}"
			successCallback = function(data){ alert(data) }
			errorCallback = function(jqXHR, textStatus, msg){alert(msg)}
			putRequest(data, url, successCallback , errorCallback)
		})
		$("#cnpj").change(function() {
			data = { gym: {"razao-social": $("#cnpj").val()} }
			url = "http://localhost:3000/api/v1/gyms/#{current_user.gym.id}"
			successCallback = function(data){ alert(data) }
			errorCallback = function(jqXHR, textStatus, msg){alert(msg)}
			putRequest(data, url, successCallback , errorCallback)
		})
    })