= render './ui/components/sidebar', dados: @sidebar_items

.content
	.divider.dados-gym#wrapperDados
		.divider-header.d-flex.justify-content-between
			h3 Dados Gym
		.divider-content
			form
				.d-flex.justify-content-start
					= render './ui/components/text-field', @inputs_attributes[:gym_nome]
				br
				.d-flex.justify-content-start
					= render './ui/components/text-field', @inputs_attributes[:gym_razao_social]
				br
				.d-flex.justify-content-start
					= render './ui/components/text-field', @inputs_attributes[:gym_cnpj]
	
	.divider#wrapperEndereco
		.divider-header
			h3 Endereço
		.divider-content
			form
				input type="text" placeholder="Cidade" id="cidade"
				br
				input type="text" placeholder="Estado" id="estado"
				br
				input type="text" placeholder="CEP" id="cep"
				br
				input type="text" placeholder="Numero" id="numero"
				br			
				input type="text" placeholder="Latitude" id="lat"
				br
				input type="text" placeholder="Longitude" id="lng"
	.divider#wrapperImagens
		H Teste
css:
	.border{border: 3px solid #000 !important}
	.divider{
		background: #fff;
		padding: 1 2%;
		border-radius: 20px;
	}
	.divider-header{
		padding: 3%;
	}
	.divider-content{
		padding: 0 3%;	
	}
	.divider-content h5{
		margin-bottom: 5%;
	}
	.content{
		width: 76%;
		position: absolute;
		height: 100%;
		left: 22%;
		right: 2%;
		z-index: 9;
		/*background: #555;*/
		margin-top: 10px;
		padding: 0;
	}
	.dados-gym{
		position: absolute;
		height: 90%;
		width: 100%;
	}

javascript:
    $(document).ready(function(){
		// Inicializa a classe gym
		let gym = new Gym("#{@gym.nome}", "#{@gym.cnpj}", "#{@gym.razao_social}", "#{@gym.id}");
		console.log(gym)
		// Inicializa os estados das divs
		gym.componentLoaded()
		// Swicth dos estados das divs
		$("#dados-toggler").click(function(event) {
			event.preventDefault();
			gym.exibirWrapperDados();
		})
		$("#endereco-toggler").click(function(event) {
			event.preventDefault();
			gym.exibirWrapperEndereco();
		})
		$("#imagens-toggler").click(function(event) {
			event.preventDefault();
			gym.exibirWrapperImagens();
		})		
		// Input com nome
		$("#gym-nome").change(function() {
			response = gym.mudarNome($("#gym-nome").val())
			console.log(response)
		})
		// Input com CNPJ
		$("#cnpj").change(function() {
			response = gym.mudarCnpj($("#cnpj").val())
			console.log(response)
		})
		// Input com Razao Social
		$("#razao-social").change(function() {
			response = gym.mudarRazaoSocial($("#razao-social").val())
			console.log(response)
		})
    })
