- provide :head_tags do
	meta name='turbolinks-visit-control' content='reload'

= render './ui/components/sidebar', dados: @sidebar_items

.content
	// Div Todos as Aulas  .  .  .  .  .  .  .  .  .  .  .
	.box#wrapperTodos
		.divider-header.d-flex.justify-content-between
			h3 Aulas
			= render './ui/components/text-field', input: @inputs_attributes[:search]
		.divider-content
			table.table.table-striped#aulas-table
				thead
					tr
						th.text-center Nome
						th.text-center Professor
						th.text-center Duração
						th.text-center Dia
						th.text-center Horário
						th.text-center Repete
						th
				tbody#aulas-table-body
				// Tabela é povoada em Aula.js, funcao loadAulas
			= render './ui/components/button', type: 'button', style: "blue", value: "Carregar Mais Aulas", id: 'button-load-more-aulas'
			.d-flex.justify-content-center
				= render './ui/components/loader', size: 'small', id: 'loader-more-aulas'
	// Div Editar Aula  .  .  .  .  .  .  .  .  .  .  .
	.box#wrapperEditAula
		.divider-header.d-flex.justify-content-between
			h3 Editar Aula
			h3.button-close-editor-box.pointer
				img src="https://img.icons8.com/ios-glyphs/25/007AFF/chevron-right.png"
		.divider-content
			form style="width: auto !important"
				.d-flex.justify-content-start
					= render './ui/components/text-field', input: @inputs_attributes[:editar][:id]
				br
				.d-flex.justify-content-start
					= render './ui/components/text-field', input: @inputs_attributes[:editar][:nome]
				br
				.d-flex.justify-content-start
					= render './ui/components/text-area', input: @inputs_attributes[:editar][:descricao]
				br
				= render './ui/components/select-box', input: @inputs_attributes[:editar][:professor]
				br
				.d-flex.justify-content-start
					= render './ui/components/text-field', input: @inputs_attributes[:editar][:data_inicio]
				br
				.d-flex.justify-content-start
					=render './ui/components/text-field', input: @inputs_attributes[:editar][:vagas]
				br				
				.d-flex.justify-content-start
					=render './ui/components/text-field', input: @inputs_attributes[:editar][:horario]
				br
				.d-flex.justify-content-start
					= render './ui/components/text-field', input: @inputs_attributes[:editar][:duracao]
				br				
				= render './ui/components/switch', input: @inputs_attributes[:editar][:repete]
				br
				.d-flex.justify-content-start#intervalo-repeticao
					= render './ui/components/text-field', input: @inputs_attributes[:editar][:intervalo_repeticao]
			center.mt-5.mb-10
				= render './ui/components/button', value: "Apagar Aula", style: "outline-red", id: "delete-aula-button", type:"button"
				br
				p.obs Os alunos são notificados a respeito de cancelamento.	
	// Div Proximas Aulas  .  .  .  .  .  .  .  .  .  .  .
	.box#wrapperProximas
		.divider-header.d-flex.justify-content-between
			h3 Próximas
		.divider-content
			h4.thin.mb-4#displayed-month Esse mês
			.row#row-proximas-aulas
	// Div Detalhe Aulas  .  .  .  .  .  .  .  .  .  .  .
	.box#wrapperDetalhesAula
		.divider-header.d-flex.justify-content-between
			h3#aula_nome
			h3.button-close-detalhe-aula.pointer
				img src="https://img.icons8.com/ios/25/FF3B30/cancel.png"
		.divider-content
			.d-flex.justify-content-between
				.aula-detalhes-left-side
					p.aula-data
					p.aula-professor
					p.aula-vagas-disponiveis
				.aula-detalhes-right-side
					p Alunos que confirmaram
					.lista-alunos-confirmaram
	// Div Adicionar Aula  .  .  .  .  .  .  .  .  .  .  .
	.box#wrapperAdicionar
		.divider-header.d-flex.justify-content-between
			h3 Adicionar Aula
		.divider-content
			form style="width: auto !important"
				.d-flex.justify-content-start
					=render './ui/components/text-field', input: @inputs_attributes[:novo][:nome]
				br
				.d-flex.justify-content-start
					=render './ui/components/text-area', input: @inputs_attributes[:novo][:descricao]
				br
				= render './ui/components/select-box', input: @inputs_attributes[:novo][:professor]
				br
				.d-flex.justify-content-start
					=render './ui/components/text-field', input: @inputs_attributes[:novo][:data_inicio]
				br
				.d-flex.justify-content-start
					=render './ui/components/text-field', input: @inputs_attributes[:novo][:vagas]
				br
				.d-flex.justify-content-start
					=render './ui/components/text-field', input: @inputs_attributes[:novo][:horario]
				br
				.d-flex.justify-content-start
					=render './ui/components/text-field', input: @inputs_attributes[:novo][:duracao]
				br
				=render './ui/components/switch', input: @inputs_attributes[:novo][:repete]
				br
				.d-flex.justify-content-start
					=render './ui/components/text-field', input: @inputs_attributes[:novo][:intervalo_repeticao]
			center.mt-5
				= render './ui/components/button', value: "Salvar Aula", style: "default", id: "salvar-aula-button", type:"button"
				= render './ui/components/button', value: "Limpar", style: "red", id: "clear-fields", type:"button"
javascript:
	$(document).ready(function(){
		let aula = new Aula("#{current_user.gym.id}")
		let tablePage = 0
		// A paginacao da API retorna 20 registros a cada pagina
		let totalPages = parseFloat("#{@numero_paginas}")
		aula.componentLoaded()
		aula.loadAulas(tablePage)
		$("#todos-toggler").click(function(event) {
			aula.toggleWrappers($(this), event, "#wrapperTodos")
		})
		$("#adicionar-toggler").click(function(event) {
			aula.toggleWrappers($(this), event, "#wrapperAdicionar")
		})
		$("#proximas-toggler").click(function(event) {
			aula.toggleWrappers($(this), event, "#wrapperProximas")	
		})
		$("#button-load-more-aulas").click(function(event){
			event.preventDefault();
			if (tablePage >= totalPages) { $("#button-load-more-aulas").hide() }
			tablePage += 1
			if ($("#search").val()!='') {
				aula.searchAulas($("#search").val(),tablePage)
			}else{
				aula.loadAulas(tablePage)	
			}
		})		
		if (tablePage >= totalPages) { $("#button-load-more-aulas").hide() }
	  	$(document).on('click', '.button-open-editor-box', function (e) {
	  		let id = $(this).attr('id');
	  		aula.showEditorBox(id);
	  		e.preventDefault();
	  	})
	  	$(document).on('click', '.button-close-editor-box', function (e) {
	  		aula.hideEditorBox();
	  		e.preventDefault();
	  	})
	  	$(document).on('click', '.aula-box', function (e) {
	  		let id = $(this).attr('id');
	  		aula.showAulaDetalhes(id);
	  		e.preventDefault();
	  	})
	  	$(document).on('click', '.button-close-detalhe-aula', function (e) {
	  		aula.hideAulaDetalhes();
	  		e.preventDefault();
	  	})
		$("#aula-editar-nome").change(function(){
			response = aula.mudarNome($("#aula-editar-nome").val())	
		})
		$("#aula-editar-descricao").change(function(){
			response = aula.mudarDescricao($("#aula-editar-descricao").val())
		})
		$("#aula-editar-repete").change(function(){
			response = aula.mudarRepete($("#aula-editar-repete").is(":checked"))
		})
		$("#aula-editar-intervalo-repeticao").change(function(){
			response = aula.mudarIntervaloRepeticao($("#aula-editar-intervalo-repeticao").val())
		})
		$("#aula-editar-inicio").change(function(){
			response = aula.mudarDataInicio($("#aula-editar-inicio").val())
		})
		$("#aula-editar-duracao").change(function(){
			response = aula.mudarDuracao($("#aula-editar-duracao").val())
		})
		$("#aula-editar-vagas").change(function(){
			response = aula.mudarVagas($("#aula-editar-vagas").val())	
		})
		$("#delete-aula-button").click(function(){
			var confirmed = confirm("Você tem certeza?");
			if (confirmed) {
			    aula.deleteAula($("#aula-editar-id").val());
			}
		})
		$("#aula-editar-professor").change(function(){
			response = aula.mudarProfessor($("#aula-editar-professor").val())
		})
		$("#aula-editar-horario").change(function(){
			response = aula.mudarHorario($("#aula-editar-horario").val())
		})
		// Input com acao submit novo aluno
		$("#salvar-aula-button").click(function(){
			let dados = {
				nome: $("#aula-nova-nome").val(),
				descricao: $("#aula-nova-descricao").val(),
				repete: $("#aula-nova-repete").is(":checked"),
				intervalo_repeticao: $("#aula-nova-intervalo-repeticao").val(),
				inicio: $("#aula-nova-inicio").val(),
				duracao: $("#aula-nova-duracao").val(),
				horario: $("#aula-nova-horario").val(),
				professor_id: $("#aula-nova-professor").val(),
				vagas: $("#aula-nova-vaga").val()
			}
			aula.salvarNovaAula(dados)
		})
		/*$("#aviso-fixado").change(function() {
			aviso.switchNovoAvisoFixado($("#aviso-fixado").prop("checked"))
		})*/	
		/*$("#clear-fields").click(function(){
			aviso.clearFields();
            $("#aviso-exibicao").prop('disabled', false);
            $("#aviso-exibicao").attr("placeholder", "Exibir até");			
		})*/
		// Search Input
		let typingTimer;
		$("#search").on('keyup', function () {
			// Start the countdown
		  	clearTimeout(typingTimer);
		  	typingTimer = setTimeout(doneTyping, 1000);
		});
		$("#search").on('keydown', function () {
		  	// Clear the countdown 
		  	clearTimeout(typingTimer);
		});
		function doneTyping () {
		  if ($("#search").val()!='') {
		  	aula.searchAulas($("#search").val(),0)
		  }else{
		  	tablePage = 0
		  	aula.loadAulas(tablePage)
		  }
	  	}
	})

css:
	#wrapperEditAula, #wrapperDetalhesAula{
		height: 100%;
		background: rgba(255, 255, 255,0.4);
		backdrop-filter: blur(var(--blur));
		-webkit-backdrop-filter: blur(var(--blur));
		-o-backdrop-filter: blur(var(--blur));
		-moz-backdrop-filter: blur(var(--blur));
		-ms-backdrop-filter: blur(var(--blur));
		z-index: 99999;
		border: 1px solid #ccc;
	}
	.aula-box{
		width: 180px;
		height: 180px;
		box-shadow: 1px 2px 10px 1px var(--gray5);
		border-radius: 15px;
		padding: 5% 6%;
	}
	.aula-box:hover{
		box-shadow: 0px 0px 0px 0px transparent;
		border: 1px solid var(--gray5);
	}
	.aula-box .aula-titulo {
		font-weight: 400; 
		font-size: 1.5em; 
		color: #333; 
		margin: 0;
	}
	.aula-box .aula-dia {
		font-size: 1.2em; 
		margin: 0;
	}
	.proximas-aulas-filter-box{
		width: 30%;
		position: fixed;
		background: rgba(255,255,255, 0.6);
		z-index: 999999;
		border-radius: 10px;
		height: 250px;
		right: 3%;
		top: 8%;
		box-shadow: 1px 2px 10px 1px #ccc;
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
		-o-backdrop-filter: blur(10px);
		-moz-backdrop-filter: blur(10px);
		-ms-backdrop-filter: blur(10px);
		padding: 2%;
	}
	.proximas-aulas-filter-box button{
		width: 100% !important;
		padding: 2% 0;
	}
	.aula-detalhes-left-side{
		padding: 3%;
		position: absolute;
		height: 90%;
		bottom: 0;
		left: 0;		
		width: 35%;
		border-right: 1px solid rgba(0,0,0,0.1);
	}
	.aula-detalhes-left-side p{
		font-size: 1.2em;
		font-weight: 200;
	}
	.aula-detalhes-left-side button {
		width: 100% !important;
		padding: 2% 0 !important;
	}
	.aula-detalhes-right-side{
		padding: 3%;
		position: absolute;
		height: 90%;
		bottom: 0;
		right: 0;
		width: 65%;
	}
	.aula-detalhes-right-side p{
		font-size: 1.2em;
		font-weight: 200;
	}