- provide :head_tags do
	meta name='turbolinks-visit-control' content='reload'

= render './ui/components/sidebar', dados: @sidebar_items

.content
	// Div Todos os Avisos  .  .  .  .  .  .  .  .  .  .  .
	.box#wrapperWallpaperSelect
		.divider-header.d-flex.justify-content-between
			h3 Wallpaper

		.divider-content
			.row#wallpaper-gallerie
				- @wallpapers.each do |wallpaper|
					.col-4.mb-1
						img.pointer.wallpaper src="#{wallpaper[:src]}" style="width: 300px; height: 170px; border-radius: 10px"

javascript:
	$(document).ready(function(){
		$(".wallpaper").click(function(e){
		  	let src = $(this).attr('src')
	        let request = new Request()
	        let url = apiBaseUrl + "/preferencias/1"
	        let data = {"preferencia": {"wallpaper": src }}
	        let successCallback = data => {
	        	$("body").css("background-image", "url("+data.wallpaper+")")
	        }
	        let errorCallback = (jqXHR, textStatus, msg) => { 
	            console.log(msg)
	        }
	        let response = request.put(data,url,successCallback,errorCallback)
	  		e.preventDefault()
		})
	})


css:
	.wallpaper:hover{
		box-shadow: 0px 0px 10px 5px #ccc;
	}