.home-sidebar.blurredBg
	.home-sidebar-header
		.d-flex.justify-content-start
			div
				h5.data.thin Segunda Feira, 15 de Julho
				h2.saudacao.sidebar-title.thin Bom Dia
	.home-sidebar-content
		.home-sidebar-list-wrapper
			- @home_sidebar.each do |item|
	    		= link_to item[:path] do
	    			.home-sidebar-item id="#{item[:id]}"
	    				.d-flex.justify-content-start
	    					h5.mr-2
	    						img src="#{item[:img]}"
							h5.ml-2.thin= item[:titulo]
    .home-sidebar-footer
    	.d-flex.justify-content-center
			h6.thin.sair-button= link_to "Sair", destroy_user_session_path, method: :delete

.content
	.d-flex.justify-content-between
		.home-wrapper-left.pt-2
			.d-flex.justify-content-center
				.news-box
					.news-box-header
						h4 News
					.news-box-body

    	.home-wrapper-right.pt-2 style="border: 1px solid transparent"
			.d-flex.justify-content-start
				.home-box.mr-2.ml-2
					.home-box-header
						h4 App Updates
					.home-box-body
						p Vote em atualizações
						p.button Acessar
				.home-box.ml-2.mr-2
					.home-box-header
						h4 Suporte
					.home-box-body
						p Contato conosco
						p.button Contato
	
	.box#AppUpdates
		.divider-header.d-flex.justify-content-between
			h3 Atualizações do App
			h3.button-close-sugestoes-box
				img src="https://img.icons8.com/ios-glyphs/25/007AFF/chevron-right.png"

		.divider-content
			h3.thin.mb-2 Destaques
			.row#row-destaques

			h3.thin.mb-2 Todas
			.row#row-sugestoes

css:
	.content{
		background: transparent;
		border-left: none;
	}
	.button-user-votou-destaque{
		color: white;
		border: none;
		background: transparent;
	}
	.button-user-votou{
		color: var(--blue);
		border: none;
		background: transparent;
	}
	.votar-destaque{
		background: rgba(255, 255, 255, 0.1) !important;
	}
	.votar-destaque:hover{
		background: rgba(255, 255, 255, 0) !important;;
		border: 3px solid rgba(255, 255, 255, 0.1) !important;
		box-shadow: 0px 0px 5px 5px transparent !important;
	}
	.button-votar{
		background: var(--blue);
		color: white;
		border-radius: 15px;
		border: none;
		width: 80%;
		margin: 0 10%;
		height: 40px;
	}
	.button-votar:hover{
		box-shadow: 0px 0px 5px 5px lightblue;
	}
	.destaque{
		background: linear-gradient(180deg, #d53369 0%, #daae51 100%) !important;
		color: white !important;
	}
	.sugestao{
		background: white;
		border-radius: 15px;
		box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
		height: 350px;
		width: 100%;
		margin: 0 1%;
		overflow: hidden;
	}
	.sugestao .organizer-A{
		padding: 0 5%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 50px;
	}
	.sugestao .organizer-B{
		height: 200px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		padding: 2% 5%;
	}
	.sugestao .organizer-C{
		height: 100px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 6% 5%;
	}
	#AppUpdates{
		height: 100%;
		background: rgba(255, 255, 255, 0.8);
		backdrop-filter: blur(15px);
		-webkit-backdrop-filter: blur(15px);
		-o-backdrop-filter: blur(15px);
		-moz-backdrop-filter: blur(15px);
		-ms-backdrop-filter: blur(15px);
		z-index: 99999;
		border: 1px solid #ccc;
	}

javascript:
	$(document).ready(function(){
		let home = new Home("#{current_user.id}")
		let page = 0
		home.componentLoaded()
		home.loadDestaquesSugestoesUpdates()
		home.loadSugestoesUpdates(page)
	  	$(document).on('click', '.votar-destaque', function (e) {
	  		let id = $(this).attr('id').split("/")[0]
	  		let numero_votos = $(this).attr('id').split("/")[1];
        	$(this).removeClass()
        	$(this).addClass("button-user-votou-destaque")
        	$(this).html('Você Votou')
	  		home.registrarVoto(id, numero_votos)
	  		e.preventDefault()
	  	})
	  	$(document).on('click', '.votar', function (e) {
	  		let id = $(this).attr('id').split("/")[0]
	  		let numero_votos = $(this).attr('id').split("/")[1];
        	$(this).removeClass()
        	$(this).addClass("button-user-votou")
        	$(this).html('Você Votou')
	  		home.registrarVoto(id, numero_votos)
	  		e.preventDefault()
	  	})
	})


