button type="#{type}" id="#{id}" class="#{style}"= value

css:
	.default{
		width: 90%;
		margin: 0 5%;
		background: rgb(12,95,250);
		border: none;
		color: white;
		border-radius: 10px;
		padding: 3% 0;
	}
	.default-red{
		width: 90%;
		margin: 0 5%;
		background: rgb(230,46,37);
		border: none;
		color: white;
		border-radius: 10px;
		padding: 3% 0;
	}
	.blue{
		width: 90%;
		margin: 0 5%;
		background: transparent;
		border: none;
		color: rgb(12,95,250);
		padding: 3% 0;
	}		
	.red{
		width: 90%;
		margin: 0 5%;
		background: transparent;
		border: none;
		color: rgb(230,46,37);
		padding: 3% 0;
	}	