.d-flex.justify-content-center
	button type="#{type}" id="#{id}" class="#{style}"= value

css:
	button{
		border: none;
		width: 20%;
		margin: 3% 0;
		border-radius: 7px;
		color: white;
		height: 40px;
	}
	.default{ background: var(--blue) }
	.default:hover{ opacity: 95% }
	
	.default-red{ background: var(--red) }
	.default-red:hover{ opacity: 95% }
	
	.blue{color: var(--blue) }
	.blue:hover{ color: var(--dark-blue) }
	
	.red{ color: var(--red) }
	.red:hover{ color: var(--dark-red) }
	
	.outline-blue{
		background: transparent;
		border: 1px solid var(--blue);
		color: var(--blue);
	}
	.outline-blue:hover{
		background: var(--blue);
		color: white;
	}
	.outline-red{
		background: transparent;
		border: 1px solid var(--red);
		color: var(--red);
	}
	.outline-red:hover{
		background: var(--red);
		color: white;
	}
