.sidebar.blurredBg
	.sidebar-header
		.d-flex.justify-content-start
			.img-wrapper
				img#logo src="#{dados[:img]}"
			h4.sidebar-title= dados[:title]
	.sidebar-content
		- if dados[:sidebar_with_search]
			= render './ui/components/text-field', input: dados[:search_input]
		.sidebar-list-wrapper
			- if dados[:list_items].present?
				- dados[:list_items].each do |item|
					- if item[:first_item]
						.sidebar-item.first-item id="#{item[:id]}"
							h5= item[:title]
					- elsif item[:last_item]
						.sidebar-item.last-item id="#{item[:id]}"
							h5= item[:title]
					- elsif item[:first_item] && item[:last_item]
						.sidebar-item.first-item.last-item id="#{item[:id]}"
							h5= item[:title]
					- else
						.sidebar-item id="#{item[:id]}"
							h5= item[:title]
    .sidebar-footer
    	.d-flex.justify-content-start
    		= link_to root_path do
    			img src="https://img.icons8.com/ios/30/555555/circled-chevron-left.png"
css:
	:root {
		--blur: 20px
	}
	.sidebar{
		width: 20%;
		position: fixed;
		height: 100%;
		bottom: 0;
		left: 0;
		z-index: 99;
		background: rgba(255, 255, 255,0.4);
		backdrop-filter: blur(var(--blur));
		-webkit-backdrop-filter: blur(var(--blur));
		-o-backdrop-filter: blur(var(--blur));
		-moz-backdrop-filter: blur(var(--blur));
		-ms-backdrop-filter: blur(var(--blur));
		padding-top: 70px; /* 70 px é a altura do header */
	}
	.sidebar-footer{
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 40px;
		padding: 5px;
	}
	h5{
		font-weight: 300;
	}
	h4{
		font-weight: 200;	
	}
	.sidebar-header{
		width: 100%;
		background: transparent;
		height: 70px;
		margin: 0 0 6% 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.sidebar-header .img-wrapper{
		width: 50px;
		height: 50px;
		background: transparent;
		margin-top: 10px;
		margin-right: 5%;
		margin-left: 5%;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#logo{
		width: 50px;
		height: 50px;
	}
	.sidebar-header h4{
		line-height: 70px;
	}
	.sidebar-list-wrapper{
		background: white;
		border: 1px solid #ccc;
		border-radius: 20px;
		width: 95%;
		margin: 0 2.5%;
	}
	.sidebar-item{
		height: 50px;
		border-bottom: 1px solid #ccc;
	}
	.sidebar-item:hover{
		background: #f2f2f2;
	}
	.last-item:hover{
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
	}
	.first-item:hover{
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
	}	
	.sidebar-item h5{
		color: #666;
		line-height: 50px;
		margin: 0 5%;
	}
	.sidebar-item h5:hover{
		text-decoration: none;
		cursor: pointer;
	}
	.last-item{
		border: none !important;
	}
	.logo-select-box{
		width: 95%;
		height: 200px;
		background: white;
		border-radius: 20px;
		margin: 0 2.5% 5% 2.5%;
		padding: 4%;
	}
	.logo-select-box h5{
		color:#333;
	}
	.logo-img{
		width: 60px;
		height: 60px;
		border-radius: 50%;
	}
	.logo-img:hover{
		cursor: pointer;
		width: 63px;
		height: 63px;		
	}
	@-moz-document url-prefix() {
		.sidebar{
			background: rgba(255,255,255,.9);
		}
	}