/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require ui-libraries/animate
 *= require_tree .
 *= require_self
 */
/*Commom Setup*/
.divider{
	background: #fff;
	padding: 1 2%;
	border-radius: 20px;
}
.divider-header{
	padding: 3%;
}
.divider-content{
	padding: 0 3%;	
}
.divider-content h5{
	margin-bottom: 5%;
}
.content{
	width: 76%;
	position: absolute;
	height: 100%;
	left: 22%;
	right: 2%;
	z-index: 9;
	/*background: #555;*/
	margin-top: 10px;
	padding: 0;
}
/*Generico*/
body{background: #ccc;}
#hardReset {all: initial;* {all: unset;}}
.hidden{display: none;}
.blurredBg{
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	-o-backdrop-filter: blur(8px);
	-moz-backdrop-filter: blur(8px);
	-ms-backdrop-filter: blur(8px);	
}
.blackBg1{ background: rgba(0,0,0,0.1) }
.blackBg2{ background: rgba(0,0,0,0.2) }
.blackBg3{ background: rgba(0,0,0,0.3) }
.blackBg4{ background: rgba(0,0,0,0.4) }
.blackBg5{ background: rgba(0,0,0,0.5) }
.blackBg6{ background: rgba(0,0,0,0.6) }
.blackBg7{ background: rgba(0,0,0,0.7) }
.blackBg8{ background: rgba(0,0,0,0.8) }
.blackBg9{ background: rgba(0,0,0,0.9) }
.blackBg { background: rgba(0,0,0,1.0) }

.whiteBg1{ background: rgba(255,255,255,0.1) }
.whiteBg2{ background: rgba(255,255,255,0.2) }
.whiteBg3{ background: rgba(255,255,255,0.3) }
.whiteBg4{ background: rgba(255,255,255,0.4) }
.whiteBg5{ background: rgba(255,255,255,0.5) }
.whiteBg6{ background: rgba(255,255,255,0.6) }
.whiteBg7{ background: rgba(255,255,255,0.7) }
.whiteBg8{ background: rgba(255,255,255,0.8) }
.whiteBg9{ background: rgba(255,255,255,0.9) }
.whiteBg { background: rgba(255,255,255,1.0) }

.blueBg1 { background: rgba(13,88,250,0.1) }
.blueBg2 { background: rgba(13,88,250,0.2) }
.blueBg3 { background: rgba(13,88,250,0.3) }
.blueBg4 { background: rgba(13,88,250,0.4) }
.blueBg5 { background: rgba(13,88,250,0.5) }
.blueBg6 { background: rgba(13,88,250,0.6) }
.blueBg7 { background: rgba(13,88,250,0.7) }
.blueBg8 { background: rgba(13,88,250,0.8) }
.blueBg9 { background: rgba(13,88,250,0.9) }
.blueBg  { background: rgba(13,88,250,1.0) }

.h-pointer:hover{ cursor: pointer }