:root {
  --blue: rgb(0,122,255);
  --dark-blue: rgb(0, 64, 221);
  --green: rgb(52,199,89);
  --indigo: rgb(88,86,214);
  --orange: rgb(255,149,0);
  --pink: rgb(255,45,85);
  --purple: rgb(175,82,222);
  --red: rgb(255,59,48);
  --dark-red: rgb(251,52,0);
  --teal: rgb(90,200,250);
  --yellow: rgb(255,204,10);
  --gray: rgb(142,142,147);
  --gray2: rgb(174,174,178);
  --gray3: rgb(199,199,204);
  --gray4: rgb(209,209,214);
  --gray5: rgb(229,229,234);
  --gray6: rgb(242,242,247);
}
.divider{
  padding: 1 2%;
}
.divider-header{
  padding: 3%;
}
.divider-content{
  padding: 0 3%;  
}
.divider-content h5{
  margin-bottom: 5%;
}
.content{
  width: 80%;
  border-left: 1px solid #ccc;
  position: fixed;
  background: rgba(255, 255, 255,1);
  height: 100%;
  left: 20%;
  right: 0;
  bottom: 0 !important;
  top: 50px;
  z-index: 9;
  /*background: #555;*/
  padding: 0;
}
.box{
  position: absolute;
  height: 90%;
  width: 100%;
  overflow: scroll;  
}
/*Generico*/
body{background: var(--gray5)}
#hardReset {all: initial;* {all: unset;}}
.hidden{display: none;}
@-moz-document url-prefix() {
  .blurredBg{
    background: rgba(255,255,255,.8);
  }
}
.blurredBg{
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  -o-backdrop-filter: blur(40px);
  -moz-backdrop-filter: blur(40px);
  -ms-backdrop-filter: blur(40px);
}
.blackBg1{ background: rgba(0,0,0,0.1) }
.blackBg2{ background: rgba(0,0,0,0.2) }
.blackBg3{ background: rgba(0,0,0,0.3) }
.blackBg4{ background: rgba(0,0,0,0.4) }
.blackBg5{ background: rgba(0,0,0,0.5) }
.blackBg6{ background: rgba(0,0,0,0.6) }
.blackBg7{ background: rgba(0,0,0,0.7) }
.blackBg8{ background: rgba(0,0,0,0.8) }
.blackBg9{ background: rgba(0,0,0,0.9) }
.blackBg { background: rgba(0,0,0,1.0) }

.whiteBg1{ background: rgba(255,255,255,0.1) }
.whiteBg2{ background: rgba(255,255,255,0.2) }
.whiteBg3{ background: rgba(255,255,255,0.3) }
.whiteBg4{ background: rgba(255,255,255,0.4) }
.whiteBg5{ background: rgba(255,255,255,0.5) }
.whiteBg6{ background: rgba(255,255,255,0.6) }
.whiteBg7{ background: rgba(255,255,255,0.7) }
.whiteBg8{ background: rgba(255,255,255,0.8) }
.whiteBg9{ background: rgba(255,255,255,0.9) }
.whiteBg { background: rgba(255,255,255,1.0) }

.blueBg1 { background: rgba(13,88,250,0.1) }
.blueBg2 { background: rgba(13,88,250,0.2) }
.blueBg3 { background: rgba(13,88,250,0.3) }
.blueBg4 { background: rgba(13,88,250,0.4) }
.blueBg5 { background: rgba(13,88,250,0.5) }
.blueBg6 { background: rgba(13,88,250,0.6) }
.blueBg7 { background: rgba(13,88,250,0.7) }
.blueBg8 { background: rgba(13,88,250,0.8) }
.blueBg9 { background: rgba(13,88,250,0.9) }
.blueBg  { background: rgba(13,88,250,1.0) }

.h-pointer:hover{ cursor: pointer }

.notificacao{
  position: fixed;
  z-index: 9999;
  top: 30;
  right: 0;
  top: 8%;
  margin: 0 1%;
  width: 250px;
  height: 100px;
  border-radius: 15px;
  background: var(--gray6);
  overflow: hidden;
}
.notificacao-header{
  height: 30px;
  width: 100%;
  background: var(--gray5);
  padding: 0 5%;
}
.notificacao-header p {
  line-height: 30px;
}
.notificacao-body{
  padding: 3% 5%;
}
input[type="text"],input[type="email"],input[type="password"],input[type="number"]{
  border: none;
  background: transparent !important;
  width: 80%;
  padding: 0 2%;
  border-bottom: 1px solid #f2f2f2 !important;
  border-radius: 10px;
}
label{
  width: 20%;
  padding: 0 2%;
  font-size: 1em;
} 
.pointer:hover{
  cursor: pointer;
}