header.d-flex.justify-content-between
	/p.title Hiteal Web
	/h3 . . .
css:
	:root {
		--blur: 20px
	}
	header{
		background: rgba(255,255,255,0.8);
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 9999;
		backdrop-filter: blur(var(--blur));
		-webkit-backdrop-filter: blur(var(--blur));
		-o-backdrop-filter: blur(var(--blur));
		-moz-backdrop-filter: blur(var(--blur));
		-ms-backdrop-filter: blur(var(--blur));
		padding: 0 2%;
		height: 50px;
	}
	header h3{
		color: #555;
		font-family: sans-serif
	}
	header .title{
		font-weight: 200;
		font-size: 2em;
	}