doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type"
    title Hiteal
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+Rails.application.credentials.google_maps_api_key
    = yield(:head_tags)
  body
    = render 'layouts/header'
    .main-wrapper
        = yield
    - if notice
        .notice-box.blurredBg
            p.notice= notice
css:
    .main-wrapper{
        padding-top: 50px;
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 0;
        left: 0;
    }
    .notice-box{
        position: fixed;
        top: 70px;
        right: 1%;
        background: rgba(255, 255, 255,0.7);
        border-radius: 15px;
        width: auto;
        min-width: 200px;
        height: 50px;
        z-index: 9999;
    }
    .notice{
        line-height: 50px;
        text-align: center;
        font-weight: 500;
        color: #555;
    }
    @-moz-document url-prefix() {
        .notice{
            background: rgba(255,255,255,.9);
        }        
    }

- if current_user.present? && current_user.preferencia.wallpaper != "Default"
    css:
        body{
            background-image: url("#{current_user.preferencia.wallpaper}");
            -moz-background-size: cover;
            -webkit-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        
javascript:
    $(document).ready(function(){
        setTimeout(function(){
            $(".notice-box").addClass("animated fadeOutRight")
            setTimeout(function(){ 
                $(".notice-box").removeClass()
                $(".notice-box").hide()
                $(".notice").hide()
            }, 750);
        }, 3000);
    })
